* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/imags/classroom1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.form-container {
    width: auto;
    height: 700px;
    box-shadow: 1 0 10px 0 #000;
    margin: auto;
}

#bb {
    width: 450px;
    position: absolute;
    top: 250px;
    left: 30%;
    transform: translateX(-50%);
    z-index: -1;
}

#bb-img {
    float: left;
}

#bb-img img {
    background-size: 100%;
    width: 100%;
}

.lable {
    margin-top: 20px;
}

#personal {
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

#personal button {
    margin: 0px 10px;
    background-color: transparent;
}

#points {
    float: left;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
    margin-top: 50px;
    margin-left: 100px;
}

#list1 {
    float: left;
    margin-left: 1000px;
    margin-top: -40px;
}

#list1 button {
    margin: 10px 0px;
    background-color: transparent;
}

#music {
    margin-left: 50px;
}

#list2 {
    width: 88px;
    height: 60px;
    float: right;
    display: block;
    margin-top: 50px;
    margin-left: 40px;
}

#list2 button {
    margin: 10px 0px;
    background-color: transparent;
}

.btn {
    padding: 0px 5px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 3px 3px 3px darkgray inset;
}

#CS{
    display: none;
    position: absolute;
    margin: 70px 0 0 -250px;
    transform: translateX(-50%);
    padding: 0 100px 100px 100px;
    border-radius: 3em;
    font-size: 50px;
    justify-content: center;
    align-content: center;
    background-color: lightblue;
}

#xCS {
    float: right;
    margin: 70px 60px 20px 0;
    cursor: pointer;
}

#xCS:hover {
    box-shadow: 3px 3px 3px darkgray inset;
}

#text {
    font-family: arial, helvetica, sans-serif;
}

#SS{
    display: none;
    float: left;
    font-size: 20px;
    padding: 15px;
    margin:-210px 0 0 150px;
    cursor: pointer;
    z-index: 10;
}

#SS:hover {
    box-shadow: 3px 3px 3px darkgray inset;
}

#ss1{
    position: absolute;
        padding: 100px 0;
    margin-left: 20px;
    display: block;
    color: white;
}