* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imags/classroom1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}

button {
    border: none;
}

#bb {
    width: 450px;
    position: absolute;
    top: 200px;
    left: 30%;
    transform: translateX(-50%);
    z-index: -1;
}

#bb-img {
    float: left;
    width: 450px;
    height: 480px;
    background-image: url(../imags/blackboard1.jpg);
    background-size: 100%;
    width: 140%;
    z-index: -1;
    background-repeat: no-repeat;
}

.lable {
    margin-top: 20px;
}

#personal {
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

#personal button {
    margin: 0px 10px;
    background-color: transparent;
}

#points {
    float: left;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
    margin-top: 50px;
    margin-left: 100px;
}

#list1 {
    float: left;
    margin-left: 1000px;
    margin-top: -40px;
}

#list1 button {
    margin: 10px 0px;
    background-color: transparent;
}

#music {
    margin-left: 50px;
}

#list2 {
    width: 88px;
    height: 60px;
    float: right;
    display: block;
    margin-top: 50px;
    margin-left: 40px;
}

#list2 button {
    margin: 10px 0px;
    background-color: transparent;
}

.btn {
    padding: 0px 5px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px darkgray;
    box-shadow: 3px 3px 3px darkgray inset;
}

#CS {
    display: none;
    position: absolute;
    margin: 70px 0 0 -250px;
    transform: translateX(-50%);
    padding: 0 100px 100px 100px;
    border-radius: 3em;
    font-size: 50px;
    justify-content: center;
    align-content: center;
    background-color: lightblue;
}

#xCS {
    float: right;
    margin: 70px 60px 20px 0;
    cursor: pointer;
}

#xCS:hover {
    box-shadow: 3px 3px 3px darkgray inset;
}

#text {
    font-family: arial, helvetica, sans-serif;
}

#SS {
    display: block;
    float: left;
    font-size: 20px;
    padding: 15px;
    margin: -280px 0 0 240px;
    cursor: pointer;
    z-index: 10;
}

#SS:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px darkgray;
    box-shadow: 3px 3px 3px darkgray inset;
}


.error {
    padding: 20px;
    background-color: cornsilk
}

.close {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: cornflowerblue;
}

.flash {
    padding: 20px;
    background-color: lightgreen
}

#textPos {
    width: 400px;
    position: absolute;
    padding: 100px 0;
    margin-left: 110px;
    display: none;
    color: white;
}

#timeLable {
    margin-top: 20px;
}

#ss1 .btn {
    margin: 30px 0 0 80px;
    padding: 5px;
}

#ss2 button {
    margin: 70px 0 0 180px;
    padding: 5px;
}

#ss3 {
    width: 400px;
    position: absolute;
    padding: 120px 0;
    margin-left: 110px;
    text-align: center;
    justify-content: center;
    display: none;
    color: white;
    font-size: 40px;
}

#ss3 button {
    margin: 100px 20px 0 20px;
    padding: 8px;
}
