<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/login.css') }}">
</head>

<body>
    {% if error %}
    <div class="error">
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Error! </strong>{{ error }}
    </div>
    {% endif %}

    {% for message in get_flashed_messages() %}
    <div class="flash">
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Success! </strong>{{ message }}
    </div>

    {% endfor %}
    <div class="container">
        <form method="post" action='/login'>
            <div class="input-field">
                <input type="email" name="email" placeholder="Please enter a valid email" required>
                <label>Email</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" placeholder="Please enter your password" required>
                <label>Password</label>
            </div>
            <div class="button">
                <button>
                    Let's Go!
                </button>
                <button>
                    <a href="{{url_for('register')}}" style="text-decoration:none;">
                        Don't have an account?
                    </a>
                </button>
            </div>
        </form>
    </div>
</body>

</html>
