#pro {
    width: 650px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #000;
    display: none;
    position: absolute;
    margin: 0 0 0 0;
    transform: translateX(60%);
}

.image img {
    position: absolute;
    width: 25%;
    border: 3px solid black;
    transform: translateX(50px);
    margin-top: 40px;

}

#perInfo {
    position: relative;
    padding-top: 40px;
}

.personField {
    width: 250px;
    margin-bottom: 15px;
    transform: translateX(300px);
    padding: 20px;
}

.personField label {
    height: 25px;
    width: 250px;
    padding: 9px 0px;
    font-size: 15px;
    margin-left: 3px;
    position: absolute;
    transform: translateY(-34px);
    pointer-events: none;
    color: black;
    transition: .4s;
}

#backBtn {
    position: absolute;
    transform: translateX(10px);
    margin-top: 10px;
    height: 32px;
    width: auto;
    border-radius: 5px;
    text-decoration: none;
}
